.container{
    width:1200px;
    margin:0 auto;

}
li:nth-child(1){
    float:left;
}
li:nth-child(3){
    float:right;
}
.navbar{
   padding:16px 0px;
}
.row{
    padding-top:50px ;
    display: flex;
    width:1200px;
    margin: 0 auto;
}
.card{
    flex:1;
}
.space{
    height:60px;
}
.sub-container{
    padding-top: 48px;
    width:800px;
    margin:0 auto;
}
.italics{
    font-style: italic;
}
@media (max-width:1000px){
    .container{
        width:98%;
    }
    .main-body{
        width:100%;
    }
    .row{
        width:85%;
    }
}

@media (max-width:600px){
    .container{
        width:98%
    }
    .main-body{
        width:100%;
    }
    .row{
        width:85%;
        display:block;
    }
    .card{
        margin-bottom: 20px;
    }
    .equal{
        padding-right:0px;
    }
    .content{
        padding-top: 0px;
        text-align: center;
    }
    .row:nth-child(2){
        padding-top: 0px;
    }
}